[submodule "rust/crates/libnfqws/zapret"]
	path = rust/crates/libnfqws/zapret
	url = https://github.com/bol-van/zapret.git
[submodule "rust/crates/libnfqws2/zapret2"]
	path = rust/crates/libnfqws2/zapret2
	url = https://github.com/bol-van/zapret2
